*{
    padding: 0px;
    margin: 0px;
    font-family: Century Gothic;
}

body{
    background-color: #ededed;
}

div{
    padding: 50px;
    margin: 40px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 12px #ccc;
}

input{
    padding: 9px;
    font-size: 18px;
    border: solid 1px #aaa;
    width: 80%;
}

input[type="button"]{
    background-color: #aaa;
    border: none;
    width: 15%;
    border-radius: 5px;
    cursor: pointer ;
}